<header class="cip_header row no-gutters cip--absolute-center-W">
    <h1 class="cip--tx-none">
        Aplicações Mobile, Desktop, E-commerce e Sistemas - CodeInPixel Studios
    </h1>

  <a class="_logo_cip_header cip--pos-absolute cip--zindex-4 cip--cur-pointer" (click)="linkNavigation('/')" *ngIf="logoHeader">
    <cip-logo #logoPages logoId="cip_logo_pages" size="xxs" showText="true"> </cip-logo>
  </a>

  <nav class="cip_header_nav">
    <h2 class="cip--tx-none">Navegação Principal</h2>

    <!--Menu hamb-->
    <a class="_header_btn_menu _header_btn_menu_blue cip--margin-lr-10 cip--margin-tb-10 {{ customerLink }} cip--cur-pointer
              cip--tx-smooth cip--tx-upercase d-block d-md-none cip--zindex-2" (click)="openMenu()">
      <i class="{{ menuHamb }} cip--fsz-20  cip--opac-6"></i>
    </a>
    <!--Menu hamb-->

    <!--Links-->
    <div class="cip_header_nav_content cip--padding-lr-10 cip--no-margin cip--w-100 cip--pos-relative cip--ovf d-none d-md-block cip--zindex-3">

      <a *ngFor="let menuItem of menuItems" class="_header_btn_menu {{ menuItem.color }} cip--margin-lr-10 cip--margin-tb-10 cip--float-right cip--cur-pointer cip--tx-smooth d-sm-block  {{ menuItem.otherClass }}
      {{ (menuItem.pageName === linkActive ? ' cip--disabled-opac' : '') }}" title="{{ menuItem.title }}" (click)="linkNavigation(menuItem.link)">
        <i class="{{ menuItem.icon }}"></i>
        <span class="{{ menuItem.responsiveClass }}">
          {{ menuItem.label }}
        </span>
      </a>

      <!--Border Header-->
      <div class="_header_border cip--pos-absolute cip--w-100" *ngIf="borderHeader">
      </div>
    </div>

      <small class="_header_border_breadcrumb cip--pos-absolute cip--fsz-10 cip--tx-smooth cip--txc-orange d-none d-md-inline"
             *ngIf="linkActive && linkActive !== 'Home' && linkActive !== 'Erro 404'" >
        <i>Você está na página <b>"{{ linkActive }}"</b></i>
      </small>
  </nav>
</header>
