<section class="_section_container row no-gutters cip--pos-relative">
  <h2 class="cip--tx-none"> {{ titlePageContent }} </h2>

  <!-- Home -->
  <div class="_section_content col-12 cip--pos-relative">

    <article class="_article_content _contact_content _err404_content cip--w-100 cip--pos-relative">
      <div class="_contact_row  row no-gutters">

        <!--HEADER-->
        <div class="col-12">
          <p class="cip--w-100 cip--tx-center cip--txc-logo-blue cip--tx-smooth cip--fsz-18">Precisa de ajuda, um orçamento ou consultoria?</p>
          <p class="_contact_fale cip--w-100 cip--fsz-26 cip--tx-center cip--txc-logo-blue cip--opac-2 cip--pos-relative  cip--no-margin">
            Fale Comigo
          </p>

          <p class="cip--txc-grey-dark cip--tx-smooth cip--margin-tb-10 cip--no-margin cip--padding-tb-20 cip--opac-8">
            Preencha as opções abaixo com suas informações,
            assim poderei oferecer soluções e uma consultoria abrangente para você e seu negócio:
          </p>
        </div>

        <!--FORM-->
        <div class="col-12">
          <form  [formGroup]="contactForm" novalidate>
            <div class="row no-gutters">
              <div class="form-group col-12">
                <label for="contact_name"><span class="cip--txc-orange">*</span> Seu Nome</label>
                <input formControlName="contact_name" (keypress)="pulseCp($event)" type="text" class="form-control" id="contact_name" placeholder="Digite seu nome ..." autocomplete="off"
                       [ngClass]="{'form_valid': contactForm.controls.contact_name.valid}">
                <small class="cip--tx-italic cip--txc-red d-none">
                  <i class="fa fa-hand-o-right"></i>
                  Insira seu nome!
                </small>
                <em class="cip--fsz-9 cip--txc-grey cip--float-right cip--padding-5">( Mín. 5 Caract. )</em>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="contact_email"><span class="cip--txc-orange">*</span> Seu Melhor E-mail</label>
                <input formControlName="contact_email" (keypress)="pulseCp($event)" type="email" class="_contact_inpt_90 form-control" id="contact_email" placeholder="Digite seu e-mail ..."
                       [ngClass]="{'form_valid': contactForm.controls.contact_email.valid}">
                <small class="cip--tx-italic cip--txc-red d-none">
                  <i class="fa fa-hand-o-right"></i>
                  Insira  um e-mail válido!
                </small>
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="contact_phone"><span class="cip--txc-orange">*</span> Seu Telefone ou WhatsApp</label>
                <input formControlName="contact_phone" (keypress)="pulseCp($event)" type="text" class="form-control" id="contact_phone" placeholder="Digite um telefone ..."
                       [ngClass]="{'form_valid': contactForm.controls.contact_phone.valid}">
                <small class="cip--tx-italic cip--txc-red d-none">
                  <i class="fa fa-hand-o-right"></i>
                  Insira um número válido!
                </small>
              </div>
              <div class="form-group col-12">
                <label for="contact_description"><span class="cip--txc-orange">*</span> Descreva como posso ajuda-lo(a)</label>
                <textarea formControlName="contact_desc" (keypress)="pulseCp($event)" class="form-control" id="contact_description" rows="6"
                          [ngClass]="{'form_valid': contactForm.controls.contact_desc.valid}"></textarea>
                <small class="cip--tx-italic cip--txc-red d-none">
                  <i class="fa fa-hand-o-right"></i>
                  Insira uma descrição!
                </small>
                <em class="cip--fsz-9 cip--txc-grey cip--float-right cip--padding-5">( Mín. 20 Caract. )</em>
              </div>
            </div>

            <small class="cip--txc-orange cip--fsz-10 cip--tx-italic">*Obrigatório</small>

            <button type="submit" class="_contact_button _contact_button_blue cip--margin-lr-10 cip--margin-tb-10 cip--float-right cip--cur-pointer cip--tx-smooth"
                    (click)="submitForm(contactForm.value)" [ngClass]="{'cip--disabled-opac': !contactForm.valid}">
              <i class="fa fa-stop cip--rotate-45 cip--fsz-10 cip--opac-6 "></i>
              Enviar Agora
            </button>

          </form>
        </div>

        <!--FOOTER-->
        <div class="col-12">
          <p class="cip--txc-grey-dark cip--tx-smooth cip--margin-tb-10 cip--no-margin cip--padding-tb-20 cip--opac-8">
            Me procure também pelos contatos abaixo:
          </p>

          <address class="cip--txc-logo-blue cip--fsz-14 cip--tx-smooth cip--margin-tb-10 cip--no-margin cip--padding-tb-20 cip--opac-8">
            Telefone: <b class="cip--padding-lr-10">(11) 3938-9661</b><br>
            WhatsApp: <a class="cip--txc-logo-blue cip--tx-decor-none" href="#"><b class="cip--padding-lr-10">(11) 97405-5235</b></a><br>
            E-mail: <a class="cip--txc-logo-blue cip--tx-decor-none" href="mailto:contato@codeinpixel.com"><b class="cip--padding-lr-10">contato@codeinpixel.com</b></a><br> <br>
            São Paulo - Capital - Brasil <br>
          </address>

          <p class="cip--fsz-12 cip--txc-logo-blue cip--w-100 cip--tx-center">Muito grato pelo seu contato! </p>
        </div>

      </div>

    </article>

  </div>

</section>
