<div class="_modal_cip cip--w-100 cip--h-100 cip--pos-fixed" id="{{ modalId }}">

  <div class="_modal_cip_overlay cip--w-100 cip--h-100 cip--disabled cip--bgc-black cip--opac-3  cip--pos-fixed"></div>

  <!--Content-->
  <div class="_modal_container cip--absolute-center cip--ovf">
    <div class="_modal_pixels cip--w-100 cip--h-100 cip--absolute-center">
      <div *ngFor="let pixItem of pixelsBack"
           class="_modal_pixels_item cip--pos-absolute cip--rotate-45 cip--bgc-white pix_{{pixItem}}"></div>
    </div>

    <ng-content></ng-content>
  </div>

</div>
