<section class="_section_container row no-gutters cip--pos-relative">
  <h2 class="cip--tx-none"> {{ titlePageContent }} </h2>

  <!-- Home -->
  <div class="_section_content col-12 cip--pos-relative">

    <cip-bg-pixel imageText="false"></cip-bg-pixel>

    <article class="_article_content _err404_content cip--w-100 cip--pos-relative">

      <!--Content O que eu faço-->
      <div class="row no-gutters">
        <!--Head-->
        <div class="col-12 cip--pos-relative">
          <div class="_content_header_pixel_left _content_header_pixel cip--rotate-45 cip--pos-absolute"></div>
          <h3 class="_content_header_title_left cip--no-margin cip--tx-smooth cip--tx-weight-light">
            O que eu faço?
          </h3>
          <p class="_content_header_titlemark_left cip--pos-absolute cip--no-margin">
            O que eu faço?
          </p>
        </div>

        <!--Content-->
        <div class="col-12 cip--pos-relative">
          <h4 class="_content_box_title cip--tx-weight-light">Soluções Criativas</h4>
          <p class="_content_box_parag cip--tx-smooth">
            Ao compreender as necessidades do cliente, poderei projetar os melhores conceitos e soluções
            mais adequadas para seus negócios ou seu projeto.
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            Sempre pensando “fora da caixa”, procuro por conceitos criativos que cause impacto seja em projetos
            simples ou complexos!
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            O seu projeto é “meu projeto”, esse é meu lema!
            Além de trabalhar com carinho, abraço com responsabilidade e dedicação todas soluções empregadas em seu negócio.
          </p>

        </div>

      </div>

      <div class="_content_divider_space_lg"></div>

      <!--Content Why Me-->
      <div class="row no-gutters">
        <!--Head-->
        <div class="col-12 cip--pos-relative">
          <div class="_content_header_pixel_right _content_header_pixel cip--rotate-45 cip--pos-absolute"></div>
          <h3 class="_content_header_title_right cip--no-margin cip--tx-smooth cip--tx-weight-light">
            Habilidades?
          </h3>
          <p class="_content_header_titlemark_right cip--pos-absolute cip--no-margin">
            Habilidades?
          </p>
        </div>

        <!--Content-->
        <div class="col-12 cip--pos-relative">
          <h4 class="_content_box_title cip--tx-weight-light">Programação e Desenvolvimento</h4>
          <em class="_content_box_parag cip--tx-smooth">
            "Codificar não é apenas fazer as coisas acontecerem, mas criar algo para melhorar a vida das pessoas"
          </em>
          <p class="_content_box_parag cip--tx-smooth">
            Ferramentas Essenciais:
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            - Javascript ( ES6 e ES7 ) <br>
            - Angular 2+ <br>
            - React e React-native <br>
            - Angular Material Design <br>
            - React Material UI <br>
            - Node.Js, Express <br>
            - Electron.Js <br>
            - PHP <br>
            - HTML5, CSS3 e SASS <br>
            - Bootstrap, Materialize <br>
            - Mysql, MongoDb <br>
            - Firebase e DynamoDb <br>
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            Mãos à obra:
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            - Front-end <br>
            - Back-end <br>
            - Rest Api’s <br>
            - Redux e Performance <br>
            - UI e UX <br>
            - Animações CSS3, Javascript e Jquery <br>
            - Responsive Design <br>
            - Templates <br>
            - Style Guides <br>
          </p>

          <h4 class="_content_box_title cip--tx-weight-light">Design e Criação</h4>
          <em class="_content_box_parag cip--tx-smooth">
            "Criação, experiências memoráveis e visuais impressionantes para seus projetos"
          </em>
          <p class="_content_box_parag cip--tx-smooth">
            Ferramentas Essenciais:
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            - Photoshop <br>
            - Illustrator <br>
            - CorelDraw <br>
            - 3D Studio Max <br>
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            Mãos à obra:
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            - Criação e Rebrand de Logomarcas <br>
            - Layout e conceitos para sites, sistemas <br>
            - Mockups e design gráfico <br>
            - Design de cartões de visitas, folders e papelaria em geral <br>
          </p>

          <h4 class="_content_box_title cip--tx-weight-light">Marketing Digital</h4>
          <em class="_content_box_parag cip--tx-smooth">
            "Embora clichê, mas a propaganda é a alma do negócio"
          </em>
          <p class="_content_box_parag cip--tx-smooth">
            Mãos à obra:
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            - SEO e concultoria de conteúdo <br>
            - Google Adwords <br>
            - Facebook Ads <br>
            - Analytics <br>
            - Social Comunication <br>
          </p>

          <h4 class="_content_box_title cip--tx-weight-light">Adicionais</h4>
          <em class="_content_box_parag cip--tx-smooth">
            "Aprender um pouco de tudo para melhores resultados"
          </em>
          <p class="_content_box_parag cip--tx-smooth">
            Sistemas Operacionais e Nuvem:
          </p>
          <p class="_content_box_parag cip--tx-smooth">
            - Mac OSX <br>
            - Windows <br>
            - Linux <br>
            - AWS ( Amazon Web Services ) <br>
            - Google Cloud Platform <br>
            - Heroku <br>
            - Umbler <br>
            - Hospedagens e Domínios <br>
          </p>

          <h4 class="_content_box_title cip--tx-weight-light cip--margin-tb-20">
            <em class="cip--txc-logo-blue cip--opac-7 cip--tx-smooth cip--fsz-14">
              "Eu sei o preço do sucesso: dedicação, trabalho duro, e uma incessante
              devoção às coisas que você quer ver acontecer."
            </em> <br>
            <small class="cip--fsz-9 cip--txc-grey">Frank Lloyd Wright</small>
          </h4>

        </div>
      </div>


    </article>

  </div>

</section>
