<section class="_section_container row no-gutters cip--pos-relative">
  <h2 class="cip--tx-none"> Página não Encontrada! </h2>

  <!-- Home -->
  <div class="_section_content col-12 cip--pos-relative">

    <article class="_article_content _err404_content cip--w-100 cip--pos-relative">

      <div class="row no-gutters">
        <div class="_err404_alert col-12">
          <p class="cip--w-100 cip--tx-center cip--txc-logo-blue cip--tx-smooth cip--no-margin">
            Desculpe, mas a página requisitada não existe!
          </p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="_err404_number col-12">
          <p class="cip--w-100 cip--tx-center cip--txc-logo-blue cip--tx-smooth cip--opac-1 cip--no-margin">404</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="_err404_question col-12">
          <p class="cip--w-100 cip--tx-center cip--txc-orange cip--tx-smooth  cip--no-margin">Gostaria de acessar as opções abaixo?</p>
        </div>
      </div>

      <div class="col-12 cip--pos-relative">
        <div class="_err404_opt_sections row no-gutters">
          <div class="_work_cell col-12 col-sm-6 col-lg-4 col-xl-3 cip--float-left" *ngFor="let section of sections">
            <div class="_work_cell_elem ip--w-100 cip--h-100">
              <a class="_work_cell_link cip--tx-center" title="{{ section.title }}" (click)="linkNavigation(section.link)">
                <div class="_work_cell_pixel cip--shadow-z24 cip--bgc-white cip--rotate-45 cip--cur-pointer"
                     >
                  <img src="{{ section.file }}" alt="{{ section.label }}" title="{{ section.title }}" class="cip--responsive-img {{ section.otherClass }}">
                </div>
                <p class="_work_cell_title cip--zindex-2  cip--tx-smooth cip--absolute-center-W cip--txc-logo-blue cip--truncate">
                  {{ section.label }}
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </article>

  </div>

</section>
