<section class="_section_container row no-gutters cip--pos-relative cip--ovf">
  <h2 class="cip--tx-none"> Página Home </h2>

  <!-- Home -->
  <div class="_section_content col-12 cip--pos-relative">

    <cip-bg-pixel></cip-bg-pixel>

    <div class="_logo_cip_container cip--absolute-center-H">
      <cip-logo #logoHome logoId="cip_logo_home" size="sm" showText="true" animation="show" duration="1" delay="500"> </cip-logo>
    </div>

    <article class="_article_content _home_content cip--w-100 cip--pos-relative cip--ovf-x cip--ovf-y-auto ">


    </article>



  </div>

  </section>
