::ng-deep #cip_logo_home{
  position: absolute;
  top: 100px;
  transform: scale(0.14);
  right: 0 !important; left: 0 !important; margin: 0 auto !important;
  left: 9% !important;
}
._home_slogan{
  font-size: 24px;
  text-align: center;
  display: none;
}
._logo_cip_container{
  height: 0px;
}
._home_content{
  top: -20px;
  margin: 240px 0 50px 0;
  padding: 0px 20px;
  //opacity: 0;
}

._home_rotation45{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
._hpp_wh1{ width: 190px; height: 190px; }
._hpp_wh2{
  width: 120px;
  height: 120px;
}
._hpp_wh3{
  width: 100px;
  height: 100px;
}
._hpp_wh4{
  width: 70px;
  height: 70px;
}
._hpp1{ width: 300px; height: 300px; top: 15%; left: 35%; }
._hpp2{ top: 58%; left: 71.5%; }
._hpp3{ top: 12%; left: 62.5%; }
._hpp4{ top: 8.5%; left: 38.5%; }
._hpp5{ top: 65%; left: 46.5%; }
._hpp6{ top: 56%; left: 26.2%; }
._hpp7{ top: 45.5%; left: 9.6%; }
._hpp8{ top: 25.6%; left: 16.2%; }
._hpp9{ top: 35.5%; left: 84.6%; }
._hpp10{ top: 54.9%; left: 66.1%; }
._hpp11{ top: 80.5%; left: 61.9%; }

/*News*/
._home_news{
  display: none;
  min-height: 300px;
  margin: 40px auto;
}
._home_news_image_container{
  min-height: 275px;
}
._home_news_image_content{
  width: 160px;
  min-height: 270px;
  margin: 0 auto;
  top: 40px;
  left: -35px;
}
._home_news_desc_container{
  //margin-top: 20px;
}
._home_news_desc_title{
  padding: 0 10px;
}
._home_news_desc_content{
  padding: 0 10px;
}
._home_news_desc_link{
  display: inherit;
  padding: 15px 10px;
}
._home_wait{
  margin-top: 60px;
}

/* ###################################### MEDIA QUERY ###################################### */

@media (min-width: 568px){
  ._home_content{
    padding: 0px 30px;
  }
  ::ng-deep #cip_logo_home{
    left: 9% !important;
  }
  ._home_slogan{
    font-size: 28px;
  }
  ._home_news_desc_title{
    padding: 0 50px;
  }
  ._home_news_desc_content{
    padding: 0 50px;
  }
  ._home_news_desc_link{
    display: inherit;
    padding: 15px 50px;
  }
}

@media (min-width: 768px){
  ::ng-deep #cip_logo_home{
    top: 200px;
    left: 15% !important;
    transform: scale(0.23);
  }
  ._home_content{
    margin: 410px 0 100px 0;
    padding: 0px 80px;
  }
  ._home_slogan{
    font-size: 40px;
  }
}

@media (min-width: 992px){
  ::ng-deep #cip_logo_home{
    top: 200px;
    left: 16% !important;
  }
  ._home_slogan{
    font-size: 50px;
  }
  ._home_news_image_content{
    width: 210px;
    min-height: 210px;
    top: 60px;
    left: 0px;
  }
}

@media (min-width: 1200px){
  ._home_content{
    padding: 0px 200px;
  }
  ::ng-deep #cip_logo_home{
    left: 17% !important;
  }
  ._home_news_image_container{
    left: -30px;
  }
  ._home_news_desc_title{
    padding: 10px 50px;
  }
}
