<footer class="_footer cip--pos-fixed cip--w-95">
  <!-- Container -->
  <div class="_footer_container row no-gutters">

    <!-- Social -->
    <div class="col-4 cip--pos-relative">
      <a href="https://facebook.com/codeinpixel" target="_blank" class="footer_social_link cip--float-left cip--margin-lr-10">
        <img src="assets/svg/facebook.svg" alt="Facebook" title="Siga-me no Facebook" width="25">
      </a>
      <a href="https://twitter.com" target="_blank" class="footer_social_link  cip--float-left cip--margin-lr-10">
        <img src="assets/svg/twitter.svg" alt="Twitter" title="Siga-me no Twitter" width="25">
      </a>
      <a href="https://plus.google.com" target="_blank" class="footer_social_link  cip--float-left cip--margin-lr-10">
        <img src="assets/svg/google.svg" alt="Google" title="Siga-me no Google Plus" width="25">
      </a>
      <a href="https://linkedin.com" target="_blank" class="footer_social_link  cip--float-left cip--margin-lr-10">
        <img src="assets/svg/linkedin.svg" alt="Linkedin" title="Siga-me no Linkedin" width="25">
      </a>
      <a href="https://github.com" target="_blank" class="footer_social_link  cip--float-left cip--margin-lr-10">
        <img src="assets/svg/github.svg" alt="Github" title="Siga-me no Github" width="25">
      </a>
    </div>

    <!-- Services -->
    <div class="col-4 cip--pos-relative">
      <h2 class="cip--fsz-13 cip--tx-center cip--w-100 cip--no-margin">
        <img src="assets/img/logo-footer-copyright.png" alt="CodeInPixel Studios" title="CodeInPixel Studios" width="40" class="_footer_logo  cip--pos-relative">
        <p class="_copy_footer cip--no-margin cip--txc-white cip--tx-smooth cip--opac-5 cip--tx-italic cip--fsz-10 cip--pos-relative">
          © {{ yearFooter | date:'yyyy' }} CodeInPixel Studios
        </p>
      </h2>
    </div>

    <!-- Copyright -->
    <div class="col-4 cip--pos-relative">
      <button class="_footer_about_site cip--tx-center cip--opac-5 cip--float-right cip--tx-italic cip--txc-white cip--tx-smooth
                    cip--btn cip--btn-transparent-white cip--btn-sm" (click)="openAboutSite()">
        <p class="cip--fsz-10 cip--float-right cip--margin-lr-5">About This Site</p>
        <img src="assets/svg/info.svg" alt="Informações" title="Informações Sobre este Site" width="15" class="cip--pos-relative cip--float-right">
      </button>
    </div>
  </div>

</footer>
