._footer{
  height: 50px;
  bottom: 0; left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

._footer_content{
  max-width: 1920px;
  height: 50px;
  // border-top: 1px solid rgba(92, 115, 142, 0.23);
  margin:0 auto;
}
._footer_content_border{
  height: 1px;
  background-color: rgba(92, 115, 142, 0.23);
}
._footer_content_cell{
  bottom: 2.5px;
  left: 0;
}
._footer_content_social{
  padding-left: 2.5%;
}

.footer_social_link{
  text-decoration: none;
  margin-top: 8px;
}
.footer_social_link:hover{
  opacity: .6;
}
.footer_social_link>img{
  opacity:.5;
}
.footer_social_link:first-child{
  margin-right: 10px;
}
._footer_logo {
  display: inline-block;
  top: 6px;
}
._copy_footer {
  display: inline-block;
  top: 8px;
  text-align: left;
  padding-left: 15px;
}
._footer_serv{
  margin: 5px 13px;
}
._footer_content_about{
}
._footer_about_site{
  top: 2px;
  padding: 5px;
  float: right;
  margin-right: 15px;
}
._footer_about_site>p{
  line-height: 25px;
}
._footer_about_site>p>img{
  top: 4px;
  left: -1px;
}
._footer_about_site:hover{
  background-color: rgba(92, 115, 142, 0.13);
}

/*MODAL ABOUT SITE*/
._modal_content_about_logo{
  height: 160px;
}
._modal_about_logo{
  width: 120px;
  height: 105px;
  top: 50px;
}
._modal_content_about_credits{

}
._modal_content_about_info{
  padding: 0 20px !important;
}

/* ###################################### MEDIA QUERY ###################################### */
/* Max. width 575px - small devices */

/* Min. width 576px */
@media (min-width: 576px){
  ._footer_slogan{
    font-size: 40px;
  }
  ._copy_footer{
    text-align: center;
    padding-left: 0px;
  }
}

/* Min. width 768px */
@media (min-width: 768px){
  ._footer_slogan{
    font-size: 50px;
  }
  ._modal_content_about_info{
    padding: 0 50px !important;
  }
}

/* Min. width 992px */
@media (min-width: 992px){
  ._footer_slogan{
    font-size: 60px;
  }
}

/* Min. width 1200px */
@media (min-width: 1200px){

}

