<div class="_pix_bg cip--h-100 cip--w-100 cip--pos-fixed">
    <div class="_pix_bg_item1 cip--opac-8 cip--rotate-45 cip--pos-absolute"></div>
    <div class="_pix_bg_item2 {{ imageTextClass }} cip--rotate-45 cip--ovf cip--pos-absolute">
      <div class="_pix_bg_image_color cip--w-100 cip--h-100"></div>
    </div>
    <div class="_pix_bg_item3 cip--rotate-45 cip--pos-absolute"></div>
    <div class="_pix_bg_item4 cip--rotate-45 cip--pos-absolute cip--opac-03"></div>
    <div class="_pix_bg_item5 cip--rotate-45 cip--pos-absolute cip--opac-4"></div>
    <div class="_pix_bg_item6 cip--rotate-45 cip--pos-absolute"></div>
  </div>
